@use "@/sass/fragments/palette";
@use "@/sass/fragments/font";

@import '../../node_modules/modern-normalize/modern-normalize.css';

* {
  outline: none;
  color: palette.$on-primary;
  font-family: font.$app-family;
}

html,
body,
#app { height: 100%; }

#app {
  display: flex;
  user-select: none;
}

a,
img { -webkit-user-drag: none; }

a { text-decoration: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea::placeholder,
input::placeholder { color: palette.$on-primary; }
