@use "@/sass/fragments/palette";
@use "@/sass/fragments/font";

@import '../../node_modules/modern-normalize/modern-normalize.css';

* {
  outline: none;
  color: palette.$on-surface;
  font-family: font.$family;
  font-size: font.$size-m;
}

html,
body,
#app { height: 100%; }

#app { user-select: none; }

a,
img { -webkit-user-drag: none; }

a { text-decoration: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

textarea::placeholder,
input::placeholder { color: palette.$on-surface; }
