@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$family: 'Inter', sans-serif;

$size-s: 12px;
$size-m: 14px;
$size-l: 18px;

$weight-s: 200;
$weight-m: 400;
$weight-l: 500;
