$primary: #222222;
$primary-dark: #181818;
$primary-light: #313131;

$secondary: #512DA8;
$secondary-dark: #311B92;
$secondary-light: #673AB7;

$background: #ffffff;
$surface: #f6f8fa;
$separator: #f3f3f3;

$success: #88c459;
$warning: #ffd137;
$error: #b00020;

$on-primary: #f3f3f3;
$on-secondary: #222222;

$on-background: #222222;

$on-surface: #3b4651;
$on-surface-dark: #12131a;
$on-surface-light: #909ab4;

$on-success: #222222;
$on-warning: #222222;
$on-error: #222222;
